@import '../../base-styles/color.scss';

.product-card{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: .5rem;
    display: flex;

    .card__image{
        border-radius: .4rem .5rem 0 0;
        width: 100px;
        height: 100%;
        object-fit: cover;
    }

    .card__details{
        width: 100%;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem .5rem 0;

        .card__name{
            font-size: .8rem;
            font-weight: 600;
            line-height: .9rem;
        }
        
        .card__price{
            font-size: .75rem;
            font-weight: 500;
        }
        
    }
}

// 'card__iamge'
//  card__name'
//  card__category"
//  card__price'