@import '../../../base-styles/color.scss';


.menu__add{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(2rem) 2rem 2rem;

    &__navigation{
        height: 10vh;
    }

    &__header{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-weight: 600;
        font-size: 2rem;
    }

    &__form{
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        &__control{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            label{
                width: 40%;
                font-size: 1rem;
                font-weight: 500;
            }

            input{
                width: 60%;
                font-size: 1rem;
                padding: .5rem 1rem;
                border-radius: .5rem;
                border: none;
                outline: 1px solid rgb(185, 185, 185);

                &:focus, &:active{
                    outline: 2px solid $green-primary;
                }
            }
        }

        &__button{
            margin-top: 4rem;
            width: 20%;
            padding: .5rem 1rem;
            background-color: $green-primary;
            font-size: 1rem;
            color: $white-secondary;
            border-radius: .5rem;
            outline: none;
            border: none;
            align-self: flex-end;        }
    }
}
// className='menu__add'>
//  className="menu__add__header">
//      className='menu__add__header__title'
//      className='menu__add__header__caption'

//      className='menu__add__form'
//      className="menu__add__form_control