@import '../../base-styles/color.scss';

.categories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    gap: 1.5rem;

    .category{
        padding: .5rem 1.5rem;
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 500;
    }
}