@import '../../base-styles/color.scss';

.main-container{
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;

    .dashboard-nav-container{
        width: fit-content;
        height: 100vh;
        background-color: $green-primary;
        border-radius: 0 .5rem .5rem 0;
        transition: all .5s ease-in-out;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    
        .nav-header{
            width: 100%;
            display: flex;
            gap: 2rem;
    
            .nav-logo{
                position: relative;
                height: 16px;
                align-self: center;
            }
    
            .close{
                transition: opacity 0s;
            }
    
        }
        
        .nav-menu-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .nav-menu{
                height: 3rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                transition: width .5s ease-in-out;
    
                .menu-icon{
                    width: 1.5rem;
                    transition: width 0s;
                }
    
                .open{
                    transition: visibility 0s, opacity .2s linear .5s;
                }
    
                .close{
                    transition: opacity 0s;
                }
            }
    
            .active{
                background-color: $green-secondary;
                border-radius: .5rem;
                font-weight: 600;
            }
        }
    }
}