@import '../../base-styles/color.scss';

.dashboard-container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    background-color: $gray-background;
}