@import '../../../base-styles/color.scss';


.product__card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: .5rem;

    &__image{
        border-radius: .4rem .5rem 0 0;
        width: 100px;
        height: 100%;
        object-fit: cover;
    }

    &__details{
        width: 100%;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 3rem;
        padding-left: .5rem;

        &__name{
            font-size: .8rem;
            font-weight: 600;
            line-height: .9rem;
        }

        &__infos{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__price{
                font-size: .75rem;
                font-weight: 500;
            }

            &__button{
                background-color: $green-primary;
                font-size: .75rem;
                padding: .5rem;
                color: $white-secondary;
                border-radius: .25rem;
                border: none;
                outline: none;
            }

            &__button__quantity{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 34px;
                gap: .5rem;

                &__increment, &__decrement{
                    background-color: $green-primary;
                    font-size: .75rem;
                    padding: .5rem;
                    color: $white-secondary;
                    border-radius: .25rem;
                    border: none;
                    outline: none;
                }

                &__quantity{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        
        
    }
}